.breadcrumbs {
    @include flex-v-center;
    flex-wrap: wrap;
    gap: 10px 0;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 23px;

            &::after {
                content: "/";
                position: absolute;
                top: 1px;
                right: -15px;
                color: var(--gray-600, #9a9ca5);
            }
        }
    }
    &__link {
        @extend %state;
        color: var(--gray-800, #424551);
        font-size: 14px;
        font-family: Ubuntu;
        line-height: 150%;
        &:not([href]) {
            color: var(--gray-600, #9a9ca5);
        }
    }
    // &__link:last-child {
    //     color: var(--gray-600, #9a9ca5);
    // }

    @include mobile {
        // display: block;
    }
}
