.contacts {
    padding-top: 120px;
    padding-bottom: 120px;

    &__title {
        margin: 0px;
        margin-bottom: 25px;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @include tablet {
            display: block;
        }
    }

    &__img {
        flex-shrink: 0;
        margin-right: 20px;
        @include tablet {
            text-align: center;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
}

.form-contacts {
    width: 600px;

    &__line {
        margin-bottom: 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include mobile {
            display: block;
            margin-bottom: 0px;
        }
    }
    &__field {
        margin-bottom: 0;
        width: 47.5%;

        &--big {
            width: 100%;
        }

        @include mobile {
            width: 100%;
            margin-bottom: 24px;
        }
    }

    &__bottom {
        padding-top: 39px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
        }
    }

    &__checkbox {
        max-width: 315px;

        .custom-checkbox__text {
            color: var(--gray-800, #424551);
            font-family: Ubuntu;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
        }
        @include mobile {
            margin-bottom: 30px;
        }
    }
    .form-field__flex {
        display: flex;
        margin-bottom: 30px;
    }

    .form-field__caption {
        margin-bottom: 9px;
        color: var(--gray-800, #424551);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
    }
    .form-field__input {
        height: 52px;
        color: var(--gray-600, #9a9ca5);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        @include mobile {
            width: 100%;
        }
    }
    &__fields {
        border: none;
        padding: 0;
        padding-left: 2px;
        width: 47.5%;
        .form-field__caption {
            margin-bottom: 21px;
        }
    }

    &__radio {
        &:not(:last-child) {
            margin-right: 19px;
        }
    }

    .choices {
        width: 100%;
    }

    .is-focused {
        outline-offset: 2px;
        outline: 2px solid var(--primary, #ff5a30);
    }
    .choices__inner {
        margin: 0;
        padding: 0;
        padding: 9px 12px;
        font-size: 16px;

        height: 52px;

        border-radius: 4px;
        border: 1px solid var(--gray-400, #d7dadd);
        background: var(--gray-200, #f4f5f6);
    }
    .choices__list {
        color: var(--gray-800, #424551);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
    }

    .choices__list--dropdown {
        background: var(--gray-200, #f4f5f6);

        // color: blue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
    }
    .choices__list--single .choices__placeholder {
        // color: var(--gray-800, #424551);
        color: var(--gray-600, #9a9ca5);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
    }

    .choices__item .choices__item--selectable {
        padding: 6px 14px;
        font-size: 16px;
    }
    .choices[data-type*="select-one"]::after {
        border: none;
        right: 19px;
        margin-top: 0 !important;
        transform: translateY(-50%);
        width: 14px;
        height: 7px;
        background-image: url("../img/angle-down.svg");
        // background-position: top -8px right 4px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: transform 0.3s ease-in-out;
    }
    .choices[data-type*="select-one"].is-open::after {
        transform: rotate(180deg) translateY(50%);
    }

    .choices__list--single {
    }
    .choices__placeholder {
        opacity: 1;
    }
    .choices__list--dropdown .choices__item--selectable.is-highlighted::after,
    .choices__list[aria-expanded]
        .choices__item--selectable.is-highlighted::after {
        display: none;
    }

    @include tablet {
        width: auto;
    }
}

.form-contacts .form-field__input--big {
    height: 128px;
}
