.footer {
    padding: 82px 0;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--color-gray-900);

    &__left {
        grid-column: 7 span;

        @include minitablet {
            grid-column: 12 span;
        }
        @include mobile {
            grid-column: 4 span;
        }
    }
    &__logo {
        margin-right: 60px;

        @include mobile {
            display: inline-block;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    &__top {
        @include flex-v-center;

        margin-bottom: 22px;

        @include mobile {
            display: block;
        }
    }

    &__desc {
        margin: 0;
        width: 100%;
        max-width: 493px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
        opacity: 0.6;
    }
    &__form {
        grid-column: 5 span;

        @include minitablet {
            grid-column: 12 span;
        }

        @include mobile {
            grid-column: 4 span;
        }
    }

    &__address {
        grid-column: 4 span;
    }
    &__nav {
        grid-column: 8 span;

        @include mobile {
            grid-column: 4 span;
        }
    }

    &__copyright {
        grid-column: 12 span;

        padding-top: 32px;
        font-size: 12px;
        line-height: 150%;
        color: var(--color-light);

        span {
            padding-left: 22px;
            background-image: url("../img/heart.svg");
            background-position: 2px center;
            background-size: 16px 16px;
            background-repeat: no-repeat;
        }

        @include mobile {
            grid-column: 4 span;
        }
    }
}

.footer-form {
    &__subtitle {
        margin: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: var(--color-light);
    }
    &__items {
        @include flex-v-center;
        margin-bottom: 15px;
    }
    .form-field {
        margin: 0;
        width: 364px;

        @include mobile {
            width: 150px;
        }
    }
    .form-field__input {
        background-color: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 12px 21px;
        letter-spacing: normal;
    }

    &__desc {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: var(--color-light);
        opacity: 0.6;
    }
}

.footer-title {
    margin: 0;
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-light);
}
.footer-address {
    padding-top: 20px;
    font-style: normal;

    &__item {
        display: block;
        font-size: 16px;
        line-height: 160%;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        a {
            color: inherit;
            @extend %state-light;
        }
    }
    &__title {
    }
    &__name {
        margin: 0;
        color: var(--color-light);
    }
}

.footer-nav {
    display: flex;
    padding-top: 20px;
    padding-left: 54px;

    @include minitablet {
        padding-left: 30px;
    }
    &__col {
        &:not(:last-child) {
            margin-right: 125px;

            @include minitablet {
                margin-right: 65px;
            }

            @include mobile {
                margin-right: 35px;
            }
        }
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
    &__link {
        @extend %state-light;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: inherit;
    }

    @include minitablet {
        padding-left: 24px;
    }

    @include mobile {
        padding-left: 0;
    }
}
// .footer__copyright {
//     span {
//         padding-left: 22px;
//         background-image: url("../img/heart.svg");
//         background-repeat: no-repeat;
//         // background-position: left center;
//         background-position: 2px center;
//         background-size: 16px 16px;
//     }
// }
