.header {
    padding-top: 23px;
    padding-bottom: 21px;

    &__container {
        @include flex-all-sb;
    }
    &__nav {
        margin-left: -112px;
        @include minidesk {
            margin-left: 0;
        }
        @include tablet {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 500;
            overflow-y: auto;
            display: block;
            width: 80%;
            height: 100vh;
            background-color: var(--color-light);
            transform: translateX(-150%);

            transition: transform 0.3s ease-in-out;
        }

        &--active {
            transform: none;
        }
    }
    &--main {
        background-color: var(--color-light);
    }

    &--secondary {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
.header-contacts--nav {
    padding: 0;
    padding-left: 50px;
    .header-contacts__link {
        margin-bottom: 30px;
    }
    @include mobile {
        padding: 20px;
    }
}

.logo {
    &:focus {
        outline-offset: 2px;
        outline: 2px solid var(--primary, #ff5a30);
    }
    @include minidesk {
        max-width: 100px;
    }
    @include tablet {
        max-width: none;
    }
}
