.header-contacts {
    @include flex-v-center;
    &__link {
        @include flex-colum-start;
        &:not(:last-child) {
            margin-right: 35px;
        }
    }
    @include tablet {
        display: none;
    }
}

.contacts-link {
    @extend %state;

    padding-left: 53px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px 40px;

    &__caption {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray-800);
    }

    &__value {
        @extend %state;

        font-size: 18px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: var(--color-gray-900);

        @include minidesk {
            font-size: 16px;
        }
    }

    &--call {
        background-image: url("../img/phone.svg");
    }
    &--mail {
        background-image: url("../img/mail.svg");
    }
}
