.hero {
    &__content {
        padding-top: 220px;
        padding-bottom: 354px;
        max-width: 590px;
    }

    &__btns {
        .btn {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        left: calc((100% - 1260px) / 2);
        bottom: 120px;
    }
    &__pag {
        counter-reset: pag;
        // left: calc((100% - 1260px) / 2) !important;

        display: flex;

        .swiper-pagination-bullet {
            display: flex;
            flex-direction: column;
            border-radius: 0;
            width: 178px;
            height: auto;
            text-align: left;
            background-color: transparent;
            opacity: 1;

            &::before {
                counter-increment: pag;
                content: "0" counter(pag);
                color: rgba(#fff, 0.6);
                font-family: Ubuntu;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 42px */
                transition: transform 0.3s ease-in-out;
            }

            &::after {
                display: none;
            }
        }
    }
    &__bar {
        position: relative;
        overflow: hidden;
        border-radius: 100px;
        width: 100%;
        height: 2px;
        background-color: rgba(#fff, 0.3);

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--white);
            transform: scaleX(0);
            transform-origin: left;
        }
    }
}

.swiper-pagination-bullet-active {
    &::before {
        color: var(--white) !important;
    }
    .hero__bar {
        &::after {
            transform: scaleX(1);
            transition: transform var(--hero-slider-speed) ease-in-out;
        }
    }
}

.hero-slider {
    position: relative;
    width: 100%;
    overflow: hidden;

    &__prev {
        position: absolute;
        left: 32px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--white);
        z-index: 50;
    }
    &__next {
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--white);
        z-index: 50;
    }
}

.hero-slide {
    color: var(--color-light);
    background-image: url("../img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-gray-800);
}
