.mission {
    // padding-bottom: 270px;
    background-color: var(--color-light);

    &__list {
        --mission-gap: 94px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--mission-gap) * 2);
    }
    &__item {
        position: relative;
        padding-top: 73px;
        background-position: top center;
        background-size: 48px 48px;
        background-repeat: no-repeat;
        text-align: center;

        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: calc(-1 * var(--mission-gap));
                width: 1px;
                height: 100%;
                background-image: url("../img/divider.svg");
            }
        }
    }
    &__subtitle {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-gray-900);
    }
    &__desc {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray-700);
    }

    &__item--qualiti {
        background-image: url("../img/quality.svg");
    }
    &__item--safety {
        background-image: url("../img/safety.svg");
    }
    &__item--comfort {
        background-image: url("../img/comfort.svg");
    }
}

.know-form {
    position: relative;
    top: 94px;
    padding: 50px 59px;
    background-color: var(--color-light);
    border-radius: 4px;
    box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08),
        0 30px 24px -10px rgba(154, 156, 165, 0.05),
        0 12px 10px -6px rgba(154, 156, 165, 0.04),
        0 4px 4px -4px rgba(30, 33, 44, 0.03);
    &__title {
        text-align: center;
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;

        color: var(--color-gray-900);

        color: #1e212c;
    }
    &__content {
        // @include flex-v-center;
        display: flex;
        align-items: flex-end;
    }
    &__field {
        margin-right: 24px;
    }
    &__btn {
        padding: 12px 29px;
    }
}
