.nav {
    &__list {
        @include flex-v-center;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    &__link {
        @extend %state;

        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray-800);
        // transition: color 0.3s ease-in-out;

        &--current {
            color: var(--color-primary);
        }
    }
}
