.nav {
    &__list {
        @include flex-v-center;

        @include tablet {
            display: block;
            margin: 0;
            padding: 50px;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
        @include minidesk {
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
        @include tablet {
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }
    &__link {
        @extend %state;

        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray-800);
        // transition: color 0.3s ease-in-out;

        &--current {
            color: var(--color-primary);
        }
    }
}
