.page-hero {
    padding-top: 152px;
    padding-bottom: 60px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-color: var(--color-gray-200);

    &__breadcrumbs {
        margin-bottom: 40px;
    }
    &__title {
        margin: 0;
        max-width: 600px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 72px;
        font-family: Ubuntu;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 1px;
        color: var(--color-gray-900, #1e212c);

        &-small {
            font-size: 64px;
            font-style: normal;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: initial;
        }
        &-mb {
            margin-bottom: 60px;
        }
    }

    &__desc {
        margin: 0;
        max-width: 600px;
        font-size: 20px;
        font-family: Ubuntu;
        line-height: 150%;
        color: var(--gray-700, #787a80);
    }

    &--services {
        background-image: url("../img/services-hero-bg.png");
        background-position: right -10px top;
    }

    &--services-inner {
        background-image: url("../img/services-inner-hero-bg.png");
        background-position: right 2px top -8px;
    }

    &--work {
        background-image: url("../img/work-hero-bg.png");
        background-position: right -9px top 0px;
    }

    &--work-inner {
        background-image: url("../img/work-inner-hero-bg.png");
        background-position: right -9px top 49px;
        background-color: var(--white);
    }
}
