.portfolio-section {
    padding: 120px 0;
    background-color: var(--color-light);
    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__title {
        margin: 0;
        padding-bottom: 9px;
        max-width: 710px;
    }
    &__slilder-nav {
        // transform: translateX(12px);
    }
}
