.portfolio {
    position: relative;
    padding-bottom: 100px;
}
.portfolio-tabs-nav {
    --gap: 20px;
    @include flex-v-center;

    margin-bottom: 61px;

    transform: translateY(-60px);
    &__item {
        width: calc((100% - (var(--gap) * 4)) / 5);
        justify-content: center;
        &:not(:last-child) {
            margin-right: var(--gap);
            @include mobile {
                margin-right: 0;
            }
        }

        @include minitablet {
            margin-bottom: 20px;
            width: calc((100% - (var(--gap) * 2)) / 3);
        }
        @include mobile {
            margin-right: 0;
            width: 100%;
        }
    }

    &__btn {
        @include flex-colum-center;

        justify-content: center;
        border-radius: 4px;
        padding: 15px;
        min-height: 154px;
        width: 100%;
        box-shadow: var(--shadow-small);
        color: var(--primary);
        background-color: var(--white, #fff);
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        fill: var(--primary);

        &--active {
            color: var(--white);
            fill: var(--white);
            background-color: var(--primary);
            pointer-events: none;

            .portfolio-tabs-nav__text {
                color: var(--white);
            }
        }
    }

    &__icon {
        margin-bottom: 16px;
        display: block;
        width: 48px;
        height: 48px;
        object-fit: cover;
        color: currentColor;
        fill: inherit;
        // fill: var(--primary);
        pointer-events: none;
    }
    &__text {
        color: var(--gray-600, #9a9ca5);
        font-size: 16px;
        font-family: Ubuntu;
        font-weight: 700;
        line-height: 160%;
        transition: color 0.3s ease-in-out;
        pointer-events: none;
    }
    @include tablet {
        flex-wrap: wrap;
        margin-top: 30px;
        transform: none;
    }
    @include minitablet {
        justify-content: center;
    }
}

.portfolio-tabs {
    &__item {
        grid-column: 4 span;
        display: none;

        &--visible {
            display: block;
            &-more {
                display: block !important;
            }
        }
    }
}

.portfolio-more {
    @extend %state;

    margin-top: 60px;
    display: inline-flex;
    align-items: center;
    color: var(--gray-800, #424551);
    font-size: 16px;
    font-family: Ubuntu;
    font-weight: 700;
    line-height: 160%;

    svg {
        margin-right: 16px;
        width: 24px;
        height: 24px;
        color: inherit;
        fill: currentColor;
        object-fit: cover;
    }
}

.portfolio-tabs-nav__btn {
    @extend %state-focus;

    &:hover {
        .portfolio-tabs-nav__text {
            color: var(--gray-900, #1e212c);
        }
    }
}
