.pricing {
    position: relative;
    padding: 80px 0 40px 0;
    background: var(--gray-200, #f4f5f6);
    &__bg {
        position: absolute;
        left: -8px;
        top: 0;
    }
    &__desc {
        margin-bottom: 60px;
    }
}

.table {
    // padding: 32px 51px 32px 24px;
    position: relative;
    z-index: 5;
    border: 1px solid var(--gray-300, #e5e8ed);
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04),
        0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    background-color: var(--color-light);

    &__th {
        padding-top: 29px;
        padding-bottom: 24px;
        padding-right: 26px;
        &:first-child {
            padding-left: 24px;
            padding-right: 24px;
            text-align: left;
            vertical-align: bottom;
            color: var(--gray-900, #1e212c);
            font-size: 18px;
            font-family: Ubuntu;
            font-weight: 700;
            line-height: 150%;
        }
    }

    &__body {
        .table__row {
            &:nth-child(odd) {
                background-color: var(--gray-200, #f4f5f6);
            }
            &:last-child {
                .table__col {
                    padding-top: 28px;
                    padding-bottom: 28px;
                }
            }
        }
    }
    &__col {
        padding: 16px 0;
        padding-right: 10px;
        text-align: center;
        vertical-align: middle;
        color: var(--gray-800, #424551);

        /* base/regular */
        font-size: 16px;
        font-family: Ubuntu;
        line-height: 160%;
        &:first-child {
            padding-left: 24px;
            text-align: left;
        }

        .btn {
            padding: 0 20px;
            // padding: 0px 23px 0 31px;

            // padding: 8px 8px;
            text-align: center;
            font-size: 12px;
            font-family: Ubuntu;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
    }
    &__text {
        color: var(--gray-800, #424551);
        text-align: center;
        font-size: 16px;
        font-family: Ubuntu;
        line-height: 160%;
    }

    &__check {
        font-size: 0;
        vertical-align: middle;
        display: inline-block;
        background-image: url("../img/table-check.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 24px;
        height: 24px;
    }

    &__th {
        color: var(--gray-900, #1e212c);
        font-size: 18px;
        font-family: Ubuntu;
        font-weight: 700;
        line-height: 150%;
    }

    &__heading {
        margin-bottom: 2px;
        color: var(--gray-900, #1e212c);
        text-align: center;
        font-size: 24px;
        font-family: Ubuntu;
        font-weight: 700;
        line-height: 150%;
    }

    &__pre {
        color: var(--gray-700, #787a80);
        text-align: center;
        font-size: 18px;
        font-family: Ubuntu;
        font-weight: 700;
        line-height: 150%;
    }
}
