// new
.services-benefits {
    padding: 80px 0 66px;
    background-color: var(--gray-900, #1e212c);

    &__title {
        color: var(--white, #fff);
    }
    &__list {
        --mission-gap: 94px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--mission-gap) * 2);

        @include tablet {
            --mission-gap: 30px;
        }
        @include minitablet {
            --mission-gap: 10px;
        }
        @include mobile {
            display: block;
        }
    }
    &__item {
        position: relative;
        padding-top: 73px;
        background-position: top center;
        background-size: 48px 48px;
        background-repeat: no-repeat;
        text-align: center;

        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: calc(-1 * var(--mission-gap));
                width: 1px;
                height: 100%;
                background-image: url("../img/divider.svg");

                @include minitablet {
                    display: none;
                }

                @include mobile {
                    margin-bottom: 30px;
                }
            }
        }
    }
    &__subtitle {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--white, #fff);
    }
    &__desc {
        margin: 0;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray-700);
    }

    &__item--terms {
        background-image: url("../img/terms.svg");
    }
    &__item--workers {
        background-image: url("../img/workers.svg");
    }
    &__item--control {
        background-image: url("../img/control.svg");
    }

    &__centered {
        margin-bottom: -40px;
    }
    &__btn {
        width: 386px;
        transform: translateY(53px);
        color: var(--white, #fff);
        text-align: center;
        font-size: 16px;
        font-family: Ubuntu;
        font-weight: 700;
        // line-height: 52px;
        // letter-spacing: 0.5px;
        text-transform: uppercase;
        @include mobile {
            width: auto;
        }
    }
}
