<section class="achieve">
  <div class="container ">
    <h2 class="visually-hidden">Our achievements</h2>
    <ul class="achieve__list list-reset grid">
      <li class="achieve__item achieve__item--">
        <svg class="achieve__svg">
          <use xlink:href="img/sprite.svg#like"></use>
        </svg>
        <div class="achieve__value">60%</div>
        <div class="achieve__text">Clients on the recommendation of friends</div>
      </li>
      <li class="achieve__item achieve__item--">
        <svg class="achieve__svg">
          <use xlink:href="img/sprite.svg#services4"></use>
        </svg>
        <div class="achieve__value">2400+</div>
        <div class="achieve__text">Apartments renovated</div>
      </li>
      <li class="achieve__item achieve__item--">
        <svg class="achieve__svg">
          <use xlink:href="img/sprite.svg#helmet"></use>
        </svg>
        <div class="achieve__value">670</div>
        <div class="achieve__text">Qualified specialists</div>
      </li>
      <li class="achieve__item achieve__item--">
        <svg class="achieve__svg">
          <use xlink:href="img/sprite.svg#services3"></use>
        </svg>
        <div class="achieve__value">150000+ m<sup>2</sup></div>
        <div class="achieve__text">Finishing work was carried out</div>
      </li>

    </ul>
    <div class="achieve-content">
      <picture>
        <!-- <source srcset="img/contacts-img.webp" type="image/webp"
          media="(prefers-color-scheme: light),(max-width:1024px)"> -->
        <source srcset="img/achieve-man.webp, img/achieve-man_2x.webp 2x" type="image/webp">
        <img loading="lazy" aria-hidden="true" src="img/achieve-man.jpg" srcset="img/achieve-man_2x.jpg 2x"
          class="achieve__img" width="525" height="580" alt="achieve-man">
      </picture>
      <div class="achieve__info">
        <blockquote class="achieve-quote quote">
          <div class="quote__content">
            <p>Dapibus nec vitae ante mattis. Aliquam phasellus ac&nbsp;dui augue&nbsp;in. Sed aliquet in&nbsp;egestas
              hac
              at&nbsp;proin sed quam. Etiam aliquet sagittis non, massa cum pulvinar. Et&nbsp;in&nbsp;leo, tempus purus
              vestibulum ut&nbsp;blandit et&nbsp;mi. Odio massa purus vel praesent arcu enim elit felis viverra.</p>
            <p>Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet
              suspendisse faucibus tempor ipsum integer.</p>
          </div>
          <footer class="quote__footer">
            <div class="quote__author">
              Courtney Alexander
            </div>
            CEO - Createx Construction Bureau
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
