<section class="categoryes">
  <div class="container">
    <h2 class="title title--center categoryes__title">Categoryes</h2>
    <ul class="list-reset categoryes-nav">
      <li class="categoryes-nav__item"><button class="btn-reset categoryes-nav__btn categoryes-nav__btn--active">All
          News</button></li>
      <li class="categoryes-nav__item"><button class="btn-reset categoryes-nav__btn">Company News</button></li>
      <li class="categoryes-nav__item"><button class="btn-reset categoryes-nav__btn">Innovation</button></li>
      <li class="categoryes-nav__item"><button class="btn-reset categoryes-nav__btn">Industry News</button></li>
      <li class="categoryes-nav__item"><button class="btn-reset categoryes-nav__btn">Expert Tips</button></li>
      <li class="categoryes-nav__item"><button class="btn-reset categoryes-nav__btn">Marketing </button></li>
    </ul>
    <ul class="list-reset categoryes-list grid">
      <li class="categoryes-list__item">
        <article class="news-article news-article--big">
          <img src="img/recent-article-1.jpg" alt="article 1" class="news-article__img">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="article-meta__item">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#!" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" time datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__desc">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
              Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categoryes-list__item">
        <article class="news-article news-article--big">
          <img src="img/recent-article-1.jpg" alt="article 1" class="news-article__img">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="article-meta__item">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#!" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" time datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__desc">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
              Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categoryes-list__item">
        <article class="news-article news-article--big">
          <img src="img/recent-article-1.jpg" alt="article 1" class="news-article__img">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="article-meta__item">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#!" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" time datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__desc">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
              Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categoryes-list__item">
        <article class="news-article news-article--big">
          <img src="img/recent-article-1.jpg" alt="article 1" class="news-article__img">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="article-meta__item">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#!" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" time datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__desc">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
              Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categoryes-list__item">
        <article class="news-article news-article--big">
          <img src="img/recent-article-1.jpg" alt="article 1" class="news-article__img">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="article-meta__item">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#!" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" time datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__desc">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
              Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categoryes-list__item">
        <article class="news-article news-article--big">
          <img src="img/recent-article-1.jpg" alt="article 1" class="news-article__img">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="article-meta__item">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#!" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" time datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__desc">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
              Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
    </ul>


  </div>
</section>