<div class="contacts">
  <div class="conteiner">
    <h2 class="titile title--center contacts__title">Contacts us</h2>
    <p class="desc desc--center">Please complete the form. Detailed information will help us to make a tuned offer.</p>

    <div class="contacts__content">
      <img src="img/contacts__img" alt="" aria-hidden="true">
      <form action="#" class="contacts-form">
        <label class="contacts__field form-field form-field--gray">
          <span class="form-field__caption">Name<sup>*</sup></span>
          <input class="form-field__input form-field__input--m" name="name" required placeholder="Your name">
        </label>
        <label class="contacts__field form-field form-field--gray">
          <span class="form-field__caption">I am interested in
          </span>
          <select name="interested" class="form-field__select">
            <option value="">Choose interested</option>
            <option value="Interior_Design">I am interested in
              Interior Design</option>
          </select>
        </label>
        <label class="contacts__field form-field form-field--gray">
          <span class="form-field__caption">Phone<sup>*</sup></span>
          <input type="tel" class="form-field__input form-field__input--m" name="Phone" required
            placeholder="Your phone number">
        </label>
        <label class="contacts__field form-field form-field--gray">
          <span class="form-field__caption">Location
            <sup>*</sup></span>
          <select name="Location" required class="form-field__select">
            <option value="">Choose Location</option>
            <option value="New_York">New York</option>
            <option value="Interior_Design">I am interested in
              Interior Design</option>
          </select>
        </label>
      </form>
      </form>
    </div>
  </div>
</div>