<section class="page-hero hero-scroll page-hero--post-bg">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Homepage</a></li>
      <li class="breadcrumbs__item"><a href="news.html" class="breadcrumbs__link">News</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link">How to Build Climate Change-Resilient Infrastructure
        </a></li>
    </ul>
    <h1 class="page-hero__title">How to Build Climate Change-Resilient Infrastructure</h1>
    <div class="page-hero__bottom">

      <div class="page-hero__meta article-meta article-meta--big">
        <a href="#!" class="article-meta__item">Industry News</a>
        <time class="article-meta__item  article-meta__item--clock" time="" datetime="2020-06-24 19:00">June 24,
          2020</time>
        <span class="article-meta__item article-meta__item--comments">4 comments</span>
      </div>

      <ul class="social page-hero__social list-reset">

        <li class="social__item">
          <a href="#!" class="social__link" target="_blank" aria-label="Facebook">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#!" class="social__link" target="_blank" aria-label="linked">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#linked-In"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#!" class="social__link" target="_blank" aria-label="Twitter">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>

      </ul>
    </div>
  </div>
</section>