<section class="page-hero hero-scroll page-hero--contacts-bg">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item"><a href="contacts.html" class="breadcrumbs__link">Homepage</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link">contacts</a></li>
    </ul>
    <h1 class="page-hero__title">contacts</h1>
    <p class="page-hero__desc">
      Contact&nbsp;us for all your construction needs. We&nbsp;always welcome any questions and comments.</p>
  </div>
</section>