<!-- first -->
<div class="graph-modal">
  <div class="graph-modal__container site-modal" role="dialog" aria-modal="true" data-graph-target="first">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="site-modal__title">Subscribe to our newsletter</h2>
      <form action="" class="site-modal__form form-1"></form>
    </div>
  </div>
  <!-- second -->
  <div class="graph-modal__container site-modal" role="dialog" aria-modal="true" data-graph-target="second">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="site-modal__title">Send your CV </h2>
    </div>
  </div>
</div>