<section class="partners partners--about">
  <div class="container">
    <h2 class="title title--center partners__title">Our partners</h2>
    <p class="desc desc--center partners__desc">We are supported by 12+ industry bodies and media partners</p>
    <ul class="list-reset partners__list">
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes1.png" alt="Logo1"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes2.png" alt="Logo2"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes3.png" alt="Logo3"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes4.png" alt="Logo4"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes5.png" alt="Logo5"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes6.png" alt="Logo6"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes1.png" alt="Logo1"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes2.png" alt="Logo2"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes3.png" alt="Logo3"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes4.png" alt="Logo4"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes5.png" alt="Logo5"
            class="partners__logo"></a></li>
      <li class="partners__item"><a href="#!" class="partners__link"><img src="img/partners/partnes6.png" alt="Logo6"
            class="partners__logo"></a></li>
    </ul>
  </div>
</section>