<section class="portfolio-section">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="title portfolio-section__title">Browse our selected projects
        and learn more about our work</h2>
      <div class="slider-nav portfolio-section__slilder-nav">
        <button class="btn-reset slider-nav__btn slider-btn portfolio-section__prev">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn portfolio-section__next">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper portfolio-section__items">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__img" src="img/portfolio1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__desc">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide"><a href="#" class="portfolio-item">
            <img class="portfolio-item__img" src="img/portfolio2.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Cubes Building</h3>
              <span class="portfolio-item__desc">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a></div>
        <div class="swiper-slide"><a href="#" class="portfolio-item">
            <img class="portfolio-item__img" src="img/portfolio3.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">The Pencil Building</h3>
              <span class="portfolio-item__desc">Stores & Malls</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a></div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <!-- <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div> -->
      </div>
    </div>
    <div class="portfolio-section__learn learn-more">
      <h4 class="learn-more__subtitle">Explore all our works</h4>
      <a href="#" class="btn-reset btn btn--fill learn-more__btn ">View portfolio</a>
    </div>
  </div>
</section>