<section class="positions-content">
  <h2 class="visually-hidden">Our AVAILABLE POSITIONS</h2>
  <div class="container">
    <div class="positions-content__info grid">
      <div class="positions-content__left">
        <ul class="list-reset positions-list">
          <li class="positions-item">
            <div class="positions-item__left">
              <div class="positions-item__meta">
                <span class="positions-item__city">NewYork</span>
                <span class="positions-item__time">Full Time</span>
              </div>
              <h3 class="positions-item__title">Heavy Equipment Operator</h3>
            </div>
            <div class="btn btn--stroke-primary positions-item__link">Apply now</div>
          </li>
        </ul>
      </div>
      <div class="positions-content__right">

      </div>
    </div>


  </div>
</section>