<section class="related-projects-section">
  <div class="container">
    <div class="related-projects-section__top">
      <h2 class="title related-projects-section__title">Related project</h2>
      <div class="slider-nav related-projects-section__slilder-nav">
        <button class="btn-reset slider-nav__btn slider-btn related-projects-section__prev">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn related-projects-section__next">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper related-projects-section__items swiper-no-swiping">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="related-projects-item">
            <img class="related-projects-item__img" src="img/related-projects1.jpg" alt="related-projects cover">
            <div class="related-projects-item__content">
              <h3 class="related-projects-item__title">Red Finger Building</h3>
              <span class="related-projects-item__desc">Business Centers</span>
              <div class="related-projects-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide"><a href="#" class="related-projects-item">
            <img class="related-projects-item__img" src="img/related-projects2.jpg" alt="related-projects cover">
            <div class="related-projects-item__content">
              <h3 class="related-projects-item__title">Cubes Building</h3>
              <span class="related-projects-item__desc">Business Centers</span>
              <div class="related-projects-item__btn">View Project</div>
            </div>
          </a></div>
        <div class="swiper-slide"><a href="#" class="related-projects-item">
            <img class="related-projects-item__img" src="img/related-projects3.jpg" alt="related-projects cover">
            <div class="related-projects-item__content">
              <h3 class="related-projects-item__title">The Pencil Building</h3>
              <span class="related-projects-item__desc">Stores & Malls</span>
              <div class="related-projects-item__btn">View Project</div>
            </div>
          </a></div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <!-- <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div> -->
      </div>
    </div>
    <div class="related-projects-section__learn learn-more">
      <h4 class="learn-more__subtitle">Explore all our works</h4>
      <a href="#" class="btn-reset btn btn--fill learn-more__btn ">View related-projects</a>
    </div>
  </div>
</section>