<section class="team">
  <div class="container">
    <h2 class="title title--center team__title">Our team</h2>
    <p class="desc desc--center team__desc">People are at the heart of Createx Construction Bureau </p>
    <ul class="list-reset team-cards team__list grid">
      <li class="team-card">
        <img class="team-card__img" src="img/team1.jpg" alt="Courtney Alexander">
        <div class="team-card__name">Courtney Alexander</div>
        <div class="team-card__desc">
          CEO, Co-Founder</div>
        <div class="team-card__socials">
          <a href="#" target="_blank" class="team-card__link" aria-label="Linked-in">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#linked-In"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Twitter">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg></a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Facebook">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#mess"></use>
            </svg></a>
        </div>
      </li>
      <li class="team-card">
        <img class="team-card__img" src="img/team2.jpg" alt="Courtney Alexander">
        <div class="team-card__name">Calvin Fox</div>
        <div class="team-card__desc">CTO, Co-Founder</div>
        <div class="team-card__socials">
          <a href="#" target="_blank" class="team-card__link" aria-label="Linked-in">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#linked-In"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Twitter">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg></a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Facebook">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#mess"></use>
            </svg></a>
        </div>
      </li>
      <li class="team-card">
        <img class="team-card__img" src="img/team3.jpg" alt="Courtney Alexander">
        <div class="team-card__name">Johnny Lane</div>
        <div class="team-card__desc">Commercial Manager</div>
        <div class="team-card__socials">
          <a href="#" target="_blank" class="team-card__link" aria-label="Linked-in">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#linked-In"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Twitter">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg></a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Facebook">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#mess"></use>
            </svg></a>
        </div>
      </li>
      <li class="team-card">
        <img class="team-card__img" src="img/team4.jpg" alt="Courtney Alexander">
        <div class="team-card__name">Diane Mccoy</div>
        <div class="team-card__desc">Director of Human Resources</div>
        <div class="team-card__socials">
          <a href="#" target="_blank" class="team-card__link" aria-label="Linked-in">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#linked-In"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Twitter">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg></a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Facebook">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#mess"></use>
            </svg></a>
        </div>
      </li>
      <li class="team-card">
        <img class="team-card__img" src="img/team5.jpg" alt="Courtney Alexander">
        <div class="team-card__name">Judith Warren</div>
        <div class="team-card__desc">Lead Accountant</div>
        <div class="team-card__socials">
          <a href="#" target="_blank" class="team-card__link" aria-label="Linked-in">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#linked-In"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Twitter">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg></a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Facebook">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#mess"></use>
            </svg></a>
        </div>
      </li>
      <li class="team-card">
        <img class="team-card__img" src="img/team6.jpg" alt="Courtney Alexander">
        <div class="team-card__name">Floyd Simmmons</div>
        <div class="team-card__desc">Finacial Director</div>
        <div class="team-card__socials">
          <a href="#" target="_blank" class="team-card__link" aria-label="Linked-in">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#linked-In"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Twitter">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg></a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Facebook">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#mess"></use>
            </svg></a>
        </div>
      </li>
      <li class="team-card">
        <img class="team-card__img" src="img/team7.jpg" alt="Courtney Alexander">
        <div class="team-card__name">Serenity Edwards
        </div>
        <div class="team-card__desc">Director of Marketing</div>
        <div class="team-card__socials">
          <a href="#" target="_blank" class="team-card__link" aria-label="Linked-in">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#linked-In"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Twitter">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg></a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Facebook">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#mess"></use>
            </svg></a>
        </div>
      </li>
      <li class="team-card">
        <img class="team-card__img" src="img/team8.jpg" alt="Courtney Alexander">
        <div class="team-card__name">Shawn Edwards</div>
        <div class="team-card__desc">Tech Lead</div>
        <div class="team-card__socials">
          <a href="#" target="_blank" class="team-card__link" aria-label="Linked-in">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#linked-In"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Twitter">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg></a>
          <a href="#" target="_blank" class="team-card__link" aria-label="Facebook">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#mess"></use>
            </svg></a>
        </div>
      </li>
    </ul>
    <div class="team__text">Become a part of the best team in the construction market of the USA. <a href="#!">Available
        Positions</a></div>
  </div>
</section>

<!-- <div class="team-card__name">Courtney Alexander</div>
<div class="team-card__desc">CEO, Co-Founder</div> -->