html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--font-family, sans-serif);
    font-weight: 400;
}

.page {
    height: 100%;
    font-family: var(--font-family, sans-serif);
    -webkit-text-size-adjust: 100%;
}

.page__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
    font-size: 16px;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.site-container {
    overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
    // overflow: hidden;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.centered {
    width: 100%;
    text-align: center;
}

.dis-scroll {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    overscroll-behavior: none;
}

.page--ios .dis-scroll {
    position: relative;
}

.main-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    color: var(--color-gray-900);
    text-transform: uppercase;

    span {
        color: var(--color-primary);
    }

    &--home {
        color: var(--color-light);
    }
    @include minitablet {
        font-size: 60px;
        line-height: 75px;
    }

    @include mobile {
        font-size: 35px;
        line-height: 45px;
    }
}
.main-desc {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-gray-700);

    &--home {
        margin-bottom: 60px;
        color: var(--color-light);
    }
    @include mobile {
        font-size: 16px;
        line-height: 24px;
    }
}

.btn {
    display: inline-block;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    padding: 17px 38px;
    // line-height: 52px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-light);
    &--fill {
        @extend %state-btn--fill;

        background-color: var(--color-primary);
    }
    &--stroke {
        &-light {
            @extend %state-btn--stroke-light;

            color: var(--color-light);
            border-color: var(--color-light);
        }

        &-primary {
            @extend %state-btn--stroke-primary;

            color: var(--color-primary);

            border-color: var(--color-primary);
        }
    }
}

.title {
    margin: 0;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-gray-900);

    &--center {
        text-align: center;
    }
    @include mobile {
        font-size: 28px;
        line-height: 42px;
    }
}
.desc {
    margin: 0;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-gray-700);

    &--center {
        text-align: center;
    }
    @include mobile {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
    }
}

.section-offset {
    padding-top: 120px;

    @include minitablet {
        padding-top: 60px;
    }
    @include mobile {
        padding-top: 40px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);

    @include mobile {
        grid-template-columns: repeat(4, 1fr);
    }
}
.custom-checkbox {
    &__input {
        position: absolute;
        opacity: 0;
    }

    &__text {
        display: inline-block;
        position: relative;
        padding-left: 27px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray-800);
    }

    &__text::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 1px;
        display: inline-block;
        border: 1px solid var(--color-primary);
        border-radius: 3px;
        width: 16px;
        height: 16px;
        transition: background-color 0.3s ease-in-out;
    }

    &__text::after {
        content: "";
        position: absolute;
        left: -1px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-image: url("../img/check.svg");
        background-position: center;
        background-size: 10px 8px;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__input:checked + &__text::before {
        background-color: var(--color-primary);
    }

    &__input:checked + &__text::after {
        opacity: 1;
    }

    &__input:focus + &__text {
        outline: 3px solid var(--color-primary);
    }
}
.custom-radio {
    &__input {
        position: absolute;
        opacity: 0;
    }

    &__text {
        @extend %state;
        position: relative;
        display: inline-block;
        padding-left: 30px;
        color: var(--gray-800, #424551);
        font-family: Ubuntu;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        // margin-right: 19px;

        // &:not(:last-child) {
        //     margin-right: 19px;
        // }
    }

    &__text::before {
        content: "";
        position: absolute;
        left: 2px;
        top: 4px;
        display: inline-block;
        border: 1px solid var(--gray-500);
        border-radius: 100%;
        width: 16px;
        height: 16px;
        transition: border-color 0.3s ease-in-out;
    }

    &__text::after {
        content: "";
        position: absolute;
        left: 2px;
        top: 4px;
        width: 16px;
        height: 16px;
        background-image: url("../img/check-circle.svg");
        background-position: center;
        background-size: 8px 8px;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__input:checked + &__text::before {
        border-color: var(--color-primary);
    }
    &__input:checked + &__text::after {
        opacity: 1;
    }

    // &__input:focus + &__text {
    //     outline: 3px solid var(--color-primary);
    // }
}
.custom-file {
    cursor: pointer;

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__text {
        position: relative;
        display: inline-block;
        padding-left: 36px;
        font-weight: 400;
        font-size: 14px;
        line-height: 165%;
        color: var(--color-gray-800);

        background-image: url("../img/file-icon.svg");
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: left center;
    }

    &__input:focus + &__text {
        outline: 3px solid var(--color-primary);
    }
}

.to-top {
    position: fixed;
    z-index: 999;
    right: calc((100% - 1230px) / 2);
    bottom: 80px;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &__text {
        margin-right: 16px;
        color: var(--white, #fff);
        font-family: Ubuntu;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        text-transform: uppercase;
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        background-color: var(--primary, #ff5a30);
        transition: background-color 0.3s ease-in-out;

        svg {
            width: 24px;
            height: 24px;
            fill: var(--white);
            object-fit: cover;
        }

        &:hover {
            background-color: var(--color-active);
        }
    }
    &--active {
        opacity: 1;
        visibility: visible;
    }

    @include middledesk {
        right: 20px;
        bottom: 20px;
    }
}

.site-modal {
    padding: 48px;
    width: 486px;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #e5e8ed);
    background: var(--white, #fff);

    /* shadow/large */
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05),
        0px 12px 10px -6px rgba(30, 33, 44, 0.08),
        0px 26px 24px -10px rgba(30, 33, 44, 0.1),
        0px 60px 80px -20px rgba(30, 33, 44, 0.16);

    .graph-modal__close {
        width: 24px;
        height: 24px;
        right: 24px;
        top: 24px;
        background-image: url("../img/close-modal.svg");
    }

    &__title {
        margin: 0;
        margin-bottom: 24px;
        text-align: center;
        color: var(--gray-900, #1e212c);
        text-align: center;

        /* h3 */
        font-family: Ubuntu;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 42px */
    }
    &__field {
        margin-bottom: 20px;
    }
    &__btn {
        margin-top: 20px;
        width: 100%;
    }

    // &__select {
    //     width: 100%;
    // }

    &__radio {
        &:not(:last-child) {
            margin-right: 19px;
        }
    }

    .choices {
        width: 100%;
    }

    .is-focused {
        outline-offset: 2px;
        outline: 2px solid var(--primary, #ff5a30);
    }
    .choices__inner {
        margin: 0;
        padding: 0;
        padding: 9px 12px;
        font-size: 16px;

        height: 52px;

        border-radius: 4px;
        border: 1px solid var(--gray-400, #d7dadd);
        background: var(--gray-200, #f4f5f6);
    }
    .choices__list {
        color: var(--gray-800, #424551);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
    }

    .choices__list--dropdown {
        background: var(--gray-200, #f4f5f6);

        // color: blue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
    }
    .choices__list--single .choices__placeholder {
        // color: var(--gray-800, #424551);
        color: var(--gray-600, #9a9ca5);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
    }

    .choices__item .choices__item--selectable {
        padding: 6px 14px;
        font-size: 16px;
    }
    .choices[data-type*="select-one"]::after {
        border: none;
        right: 19px;
        margin-top: 0 !important;
        transform: translateY(-50%);
        width: 14px;
        height: 7px;
        background-image: url("../img/angle-down.svg");
        // background-position: top -8px right 4px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: transform 0.3s ease-in-out;
    }
    .choices[data-type*="select-one"].is-open::after {
        transform: rotate(180deg) translateY(50%);
    }

    .choices__list--single {
        // padding: 0;
        // display: flex;
        // align-items: center;
        // padding-left: 15px;
        // height: 100%;
    }
    .choices__placeholder {
        opacity: 1;
    }
    .choices__list--dropdown .choices__item--selectable.is-highlighted::after,
    .choices__list[aria-expanded]
        .choices__item--selectable.is-highlighted::after {
        display: none;
    }
}

.burger {
    --burger-width: 40px;
    --burger-height: 20px;
    --burger-line-height: 2px;
    position: relative;
    display: none;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #000;
    background-color: transparent;
    cursor: pointer;

    @include tablet {
        display: block;
    }
}
.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger::before {
    top: 0;
}
.burger::after {
    top: calc(100% - var(--burger-line-height));
}
.burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}
.burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
.burger:focus::after {
    opacity: 1;
}
